Schema explained: MetalID and MetalPrice table.
- The MetalID table has two columns: id (Primary Key) and metal_name.
- The MetalPrice table also has two columns: id (Primary Key) and metal_id (Foreign Key referencing MetalID), along with date and price columns.
- The relationship between MetalID and MetalPrice is represented by a one-to-many (1..*) relationship. Each entry in MetalPrice is associated with one metal commodity from MetalID, while each metal commodity in MetalID can have multiple price entries in MetalPrice.

Benefits:
- Flexibility: The schema allows for storing prices for various metals and accommodates potential future needs for additional fields.
- Data Integrity: The foreign key relationship (optional) helps maintain consistency between metal names and their corresponding price data.
- Scalability: The design can be easily scaled to include more metals or additional data points related to the price (e.g., open, close, high, low).

In this question, SQAlchemy is used for coninuity purpose with question 3, 4 and 5.

Print out ERD of proposed schema.

In [16]:
# Function to print the ERD
def print_erd():
    print("  +-------------+       +-------------+")
    print("  |   MetalID   |       |  MetalPrice |")
    print("  +-------------+       +-------------+")
    print("  | id (PK)     | 1..*  | id (PK)     |")
    print("  | metal_name  |<----->| metal_id (FK)|")
    print("  +-------------+       | date        |")
    print("                        | price       |")
    print("                        +-------------+")

# Print the ERD
print_erd()

  +-------------+       +-------------+
  |   MetalID   |       |  MetalPrice |
  +-------------+       +-------------+
  | id (PK)     | 1..*  | id (PK)     |
  | metal_name  |<----->| metal_id (FK)|
  +-------------+       | date        |
                        | price       |
                        +-------------+

# Task 1: Create an SQL table schema to store time-series metal prices. Include fields like Date, Metal, Price.

Import modules and create database engine:

In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [2]:
# Create Base class,for models to get SQLAlchemy ORM functionality
Base = declarative_base()

Create MetalID table and MetalPrice table.

In [3]:
# Define MetalID table
class MetalID(Base):
    __tablename__ = 'metal'

    id = Column(Integer, primary_key=True)
    metal_name = Column(String)
    prices = relationship('MetalPrice', backref='metal') # relate MetalPrice object to MetalID via 'metal'

# Define MetalPrice table with foreign key relationship
class MetalPrice(Base):
    __tablename__ = 'metal_price'

    id = Column(Integer, primary_key=True)
    metal_id = Column(Integer, ForeignKey('metal.id'))
    date = Column(Date)
    price = Column(Float)

In [4]:
# Create tables in the database
engine = create_engine('sqlite:///metal_commodity.db')
Base.metadata.create_all(engine)

# Task 2: Demonstrate basic CRUD operations

In [5]:
from sqlalchemy.orm import sessionmaker
from datetime import date

# Create a session for interacting with the database
Session = sessionmaker(bind=engine)
session = Session()

Create.

In [6]:
# Insert data into MetalID table.
# metal1 = MetalID(metal_name="Copper")
# metal2 = MetalID(metal_name="Aluminum")
# metal3 = MetalID(metal_name="Zinc")
# metal4 = MetalID(metal_name="Lead")
# metal5 = MetalID(metal_name="Tin")
# session.add_all([metal1, metal2, metal3, metal4, metal5])
# session.commit()

metal_names = ["Copper", "Aluminum", "Zinc", "Lead", "Tin"]
session.add_all([MetalID(metal_name=i) for i in metal_names])
session.commit()

In [7]:
# Inserting example data into MetalPrice table
price1 = MetalPrice(metal_id=1, date=date(2024, 4, 15), price=1800.50)
price2 = MetalPrice(metal_id=1, date=date(2024, 4, 16), price=1810.75)
price3 = MetalPrice(metal_id=3, date=date(2024, 4, 15), price=25.40)
price4 = MetalPrice(metal_id=6, date=date(2024, 4, 16), price=25.80)
session.add_all([price1, price2, price3, price4])
session.commit()

Read.

In [8]:
# Read from MetalID table
metals = session.query(MetalID).all()
for metal in metals:
    print(f"Metal ID: {metal.id}, Metal Name: {metal.metal_name}")
print("-"*25)

# Read from MetalPrice table
prices = session.query(MetalPrice).all()
for price in prices:
    print(f"ID: {price.id}, Metal ID: {price.metal_id}, Date: {price.date}, Price: {price.price}")

Metal ID: 1, Metal Name: Copper
Metal ID: 2, Metal Name: Aluminum
Metal ID: 3, Metal Name: Zinc
Metal ID: 4, Metal Name: Lead
Metal ID: 5, Metal Name: Tin
-------------------------
ID: 1, Metal ID: 1, Date: 2024-04-15, Price: 1800.5
ID: 2, Metal ID: 1, Date: 2024-04-16, Price: 1810.75
ID: 3, Metal ID: 3, Date: 2024-04-15, Price: 25.4
ID: 4, Metal ID: 6, Date: 2024-04-16, Price: 25.8

Update.

In [9]:
# Updating data ID=1 in MetalPrice table from 1800.5 to 1820.00
price_to_update = session.query(MetalPrice).filter_by(id=1).first()
price_to_update.price = 1820.00
session.commit()

# Print updated MetalPrice table 
prices = session.query(MetalPrice).all()
for price in prices:
    print(f"ID: {price.id}, Metal ID: {price.metal_id}, Date: {price.date}, Price: {price.price}")

ID: 1, Metal ID: 1, Date: 2024-04-15, Price: 1820.0
ID: 2, Metal ID: 1, Date: 2024-04-16, Price: 1810.75
ID: 3, Metal ID: 3, Date: 2024-04-15, Price: 25.4
ID: 4, Metal ID: 6, Date: 2024-04-16, Price: 25.8

Delete.

In [10]:
# Deleting data from MetalID table
metal_to_delete = session.query(MetalID).filter_by(id=2).first()
session.delete(metal_to_delete)
session.commit()

# Deleting data from MetalPrice table
price_to_delete = session.query(MetalPrice).filter_by(id=4).first()
session.delete(price_to_delete)
session.commit()

In [11]:
# Delete all records from MetalPrice and MetalID tables
session.query(MetalPrice).delete()
session.query(MetalID).delete()
session.commit()

In [12]:
# Close session
session.close()